html {
  font-family: sans-serif;
}

/* Your CSS below here */

.box{
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 1.094rem;
  /* I used a converter and inputed 17.5 */
  background-color: red;
  color: white;
  text-shadow: 1px 1px 5px black;
}